.bg-1 {
  background-color: rgb(252, 218, 235);
}
.bg-2 {
  background-color: #cdf5f6;
}
.bg-3 {
  background-color: #f9d8d6;
}
.bg-4 {
  background-color: #d3c8ec;
}
.bg-6 {
  background-color: #f1ffd2;
}
.bg-5 {
  background-color: #f8c8eb;
}
.bg-7 {
  background-color: #fce6b7;
}
.bg-8 {
  background-color: rgb(243, 209, 230);
}
